<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='css/sweetalert.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome/css/font-awesome.min.css')}}">
</head>
<body>
		<div id="iiit-logo" style="position: absolute;left:6%; top: 2%;">
			<a href = "http://iiit.ac.in"><img style="width:20%;height:20%"src="{{url_for('static', filename='img/iiit.png')}}"/></a>
		</div>
		<div id="cvit-logo" style="position: absolute;left:7%; top: 20%;">
			<a href = "http://cvit.iiit.ac.in"><img src="{{url_for('static', filename='img/cvit_logo.png')}}"/></a>
		</div>
		<div id = "pref" style="position: absolute;left:87%;font-size: 90%; top: 0%; text-align:justify;width:100px;padding-top: 2%">
			<div id="up" style="position: absolute; left: 0%;cursor: pointer;">
				<i class="fa fa-2x fa-thumbs-o-up" aria-hidden="true"></i>
			</div>
			<div id="down" style=" position: absolute; left: 50%;cursor: pointer;">
				<i class="fa fa-2x fa-thumbs-o-down" aria-hidden="true"></i>
			</div>
		</div>
		<div id = "title" style="position: absolute;left:68%;font-size: 110%; top: 5%">
		</div>
		<div id = "story" style="position: absolute;left:68%;font-size: 90%; top: 8%; text-align:justify;width:350px">	
		</div>
		<audio id ="music_control" controls="controls" preload="auto">
		  <source src="{{url_for('static', filename='arabic.mp4')}}" type="audio/mpeg">
		</audio>
		<video  id="video_player" controls="controls" style="position: absolute;left:17%;top: 5%">
			<source src="{{url_for('static', filename='VID_20170607_111002.mp4')}}" type="video/mp4">
		</video>
        <div id="audio">
        </div>
        <div id="gaps" style="visibility: hidden;">
        </div>
        <input id="upvoted" style="visibility: hidden;" />
        <input id="downvoted" style="visibility: hidden;"/>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sweetalert.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/responsivevoice.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/responsive.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/update_questions.js')}}"></script>
</html>