<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='css/sweetalert.css')}}">
</head>
<body>
		<div id = "title" style="position: absolute;">
			
		</div>
		<video  id="video_player" controls="controls" >
			<source src="{{url_for('static', filename='FILE0573.MOV')}}" type="video/mp4">
		</video>
        <div id="audio">
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sweetalert.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/responsivevoice.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/responsive.js')}}"></script>
<script src="{{url_for('static', filename='js/update_questions.js')}}"></script>
</html>